@media (prefers-reduced-motion: reduce) {
	// mentions body for higher priority
	body {
		*,
		::before,
		::after {
			background-attachment: initial !important;
			scroll-behavior: auto !important;
		}

		// Do not need transition in this case
		* {
			--#{$CSS_VAR_PFX}simple-transition: 0s !important;
			--#{$CSS_VAR_PFX}bouncing-transition: 0s !important;
		}

		// Fade instead of custom animation
		// Fade In
		.dropdown,
		.modal {
			.show {
				animation-name: flatify-fade-in !important;
			}
		}
		// Fade Out
		.show {
			&.alert-will-be-removed,
			&.dropdown-will-be-hidden,
			&.modal-will-be-hidden {
				animation-name: flatify-fade-out !important;
			}
		}
	}

	// Custom pulse animation
	@keyframes flatify-pulse {
		0% {
			transform: scale(1.25);
			opacity: 0.2;
		}
		40% {
			transform: scale(1.25);
			opacity: 0.5;
		}
		100% {
			opacity: 0;
			transform: scale(1.25);
			opacity: 0.2;
		}
	}
}
