// *** General: prefix, rtl and ltr
// add a prefix before CSS variables to prevent unwanted conflicts.
$CSS_VAR_PFX: flatify__ !default;
$SUPPORT_LTR: true !default;

// do not change names, just values
$RESPONSIVE_BREAKPOINTS: (
	xs: 575.98px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
) !default;

// *** Design: border width, radius, opacity, links
$BORDER_WIDTH: max(2px, 0.18em) !default;
$BORDER_RADIUS: 1em !default;

// This list will be converted to helper classes.
// .edge-[]
$BORDER_RADIUS_LIST: (
	sharp: 0em,
	round-xs: 0.32em,
	round-sm: 0.5em,
	round-md: 0.75em,
	round-lg: 1em,
	circle: 50em,
	oval: 50%,
	triangle: 100% 50% 50% 100% / 75% 69% 69% 75%,
) !default;

// This list will be converted to helper classes.
// .width-[]
$WIDTH_LIST: (
	0p: 0,
	10p: 10%,
	15p: 15%,
	25p: 25%,
	30p: 30%,
	50p: 50%,
	60p: 60%,
	75p: 75%,
	90p: 90%,
	95p: 95%,
	100p: 100%,
) !default;

// This list will be converted to helper classes.
// .height-[]
$HEIGHT_LIST: (
	0p: 0,
	10p: 10%,
	15p: 15%,
	25p: 25%,
	30p: 30%,
	50p: 50%,
	60p: 60%,
	75p: 75%,
	90p: 90%,
	95p: 95%,
	100p: 100%,
) !default;

// This list will be converted to helper classes.
// .opacity-[]
$OPACITY_LIST: (0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100) !default;

$BACKDROP_OPACITY: 0.5;

$LINK_DECORATION: none !default;
$LINK_DECORATION_HOVER: underline 0.125em currentColor !default;
$LINK_DECORATION_FOCUS: none !default;

// z-index
$ZINDEX_MODAL_BACKDROP: 1050;
$ZINDEX_MODAL: 1055;

// *** Colors: accent color, background color, text color, heading color, palette
$BG_COLOR: #ffffff !default;
$BG_COLOR_2: #f1f4f7 !default;
$BG_COLOR_3: #ced9e3 !default;
$BG_COLOR_4: #809cb6 !default;

$TXT_COLOR: #2e4051 !default;
$TXT_COLOR_LIGHT: tint($TXT_COLOR, 35%) !default;
$TXT_COLOR_DARK: shade($TXT_COLOR, 35%) !default;
$TXT_COLOR_DARKER: shade($TXT_COLOR, 60%) !default;
$TXT_COLOR_INVERTED: $BG_COLOR !default;

$BLUE: #1cb0f6 !default;
$BLUE_LIGHT: tint($BLUE, 30%) !default;
$BLUE_DARK: shade($BLUE, 15%) !default;
$BLUE_DARKER: shade($BLUE, 50%) !default;

$GREEN: #58cc02 !default;
$GREEN_LIGHT: tint($GREEN, 30%) !default;
$GREEN_DARK: shade($GREEN, 15%) !default;
$GREEN_DARKER: shade($GREEN, 50%) !default;

$YELLOW: #ffde00 !default;
$YELLOW_LIGHT: tint($YELLOW, 30%) !default;
$YELLOW_DARK: shade($YELLOW, 15%) !default;
$YELLOW_DARKER: shade($YELLOW, 35%) !default;

$ORANGE: #ff9600 !default;
$ORANGE_LIGHT: tint($ORANGE, 30%) !default;
$ORANGE_DARK: shade($ORANGE, 15%) !default;
$ORANGE_DARKER: shade($ORANGE, 50%) !default;

$RED: #ff4b4b !default;
$RED_LIGHT: tint($RED, 30%) !default;
$RED_DARK: shade($RED, 15%) !default;
$RED_DARKER: shade($RED, 50%) !default;

$PURPLE: #c164ff !default;
$PURPLE_LIGHT: tint($PURPLE, 30%) !default;
$PURPLE_DARK: shade($PURPLE, 15%) !default;
$PURPLE_DARKER: shade($PURPLE, 50%) !default;

$ACCENT_COLOR: $BLUE !default;
$ACCENT_COLOR_LIGHT: $BLUE_LIGHT !default;
$ACCENT_COLOR_DARK: $BLUE_DARK !default;
$ACCENT_COLOR_DARKER: $BLUE_DARKER !default;

$SUCCESS_COLOR: $GREEN !default;
$SUCCESS_COLOR_LIGHT: $GREEN_LIGHT !default;
$SUCCESS_COLOR_DARK: $GREEN_DARK !default;
$SUCCESS_COLOR_DARKER: $GREEN_DARKER !default;

$INFO_COLOR: $BLUE !default;
$INFO_COLOR_LIGHT: $BLUE_LIGHT !default;
$INFO_COLOR_DARK: $BLUE_DARK !default;
$INFO_COLOR_DARKER: $BLUE_DARKER !default;

$WARNING_COLOR: $ORANGE !default;
$WARNING_COLOR_LIGHT: $ORANGE_LIGHT !default;
$WARNING_COLOR_DARK: $ORANGE_DARK !default;
$WARNING_COLOR_DARKER: $ORANGE_DARKER !default;

$DANGER_COLOR: $RED !default;
$DANGER_COLOR_LIGHT: $RED_LIGHT !default;
$DANGER_COLOR_DARK: $RED_DARK !default;
$DANGER_COLOR_DARKER: $RED_DARKER !default;

$LIGHT_COLOR: $BG_COLOR_2 !default;
$LIGHT_COLOR_LIGHT: $BG_COLOR !default;
$LIGHT_COLOR_DARK: $BG_COLOR_3 !default;
$LIGHT_COLOR_DARKER: $BG_COLOR_4 !default;

$DARK_COLOR: $TXT_COLOR !default;
$DARK_COLOR_LIGHT: $TXT_COLOR_LIGHT !default;
$DARK_COLOR_DARK: $TXT_COLOR_DARK !default;
$DARK_COLOR_DARKER: $TXT_COLOR_DARKER !default;

$HEADING_COLOR: currentColor !default;

$LINK_COLOR: $ACCENT_COLOR !default;
$LINK_COLOR_HOVER: $ACCENT_COLOR_LIGHT !default;
$LINK_COLOR_FOCUS: $ACCENT_COLOR_DARK !default;

$TAP_HIGHLIGHT_COLOR: transparent !default;

// Do not modify this palette directly
$PALETTE: (
	blue: (
		primary: $BLUE,
		light: $BLUE_LIGHT,
		dark: $BLUE_DARK,
		darker: $BLUE_DARKER,
	),
	green: (
		primary: $GREEN,
		light: $GREEN_LIGHT,
		dark: $GREEN_DARK,
		darker: $GREEN_DARKER,
	),
	yellow: (
		primary: $YELLOW,
		light: $YELLOW_LIGHT,
		dark: $YELLOW_DARK,
		darker: $YELLOW_DARKER,
	),
	orange: (
		primary: $ORANGE,
		light: $ORANGE_LIGHT,
		dark: $ORANGE_DARK,
		darker: $ORANGE_DARKER,
	),
	red: (
		primary: $RED,
		light: $RED_LIGHT,
		dark: $RED_DARK,
		darker: $RED_DARKER,
	),
	purple: (
		primary: $PURPLE,
		light: $PURPLE_LIGHT,
		dark: $PURPLE_DARK,
		darker: $PURPLE_DARKER,
	),
	accent: (
		primary: $ACCENT_COLOR,
		light: $ACCENT_COLOR_LIGHT,
		dark: $ACCENT_COLOR_DARK,
		darker: $ACCENT_COLOR_DARKER,
	),
	success: (
		primary: $SUCCESS_COLOR,
		light: $SUCCESS_COLOR_LIGHT,
		dark: $SUCCESS_COLOR_DARK,
		darker: $SUCCESS_COLOR_DARKER,
	),
	info: (
		primary: $INFO_COLOR,
		light: $INFO_COLOR_LIGHT,
		dark: $INFO_COLOR_DARK,
		darker: $INFO_COLOR_DARKER,
	),
	warning: (
		primary: $WARNING_COLOR,
		light: $WARNING_COLOR_LIGHT,
		dark: $WARNING_COLOR_DARK,
		darker: $WARNING_COLOR_DARKER,
	),
	danger: (
		primary: $DANGER_COLOR,
		light: $DANGER_COLOR_LIGHT,
		dark: $DANGER_COLOR_DARK,
		darker: $DANGER_COLOR_DARKER,
	),
	light: (
		primary: $LIGHT_COLOR,
		light: $LIGHT_COLOR_LIGHT,
		dark: $LIGHT_COLOR_DARK,
		darker: $LIGHT_COLOR_DARKER,
	),
	dark: (
		primary: $DARK_COLOR,
		light: $DARK_COLOR_LIGHT,
		dark: $DARK_COLOR_DARK,
		darker: $DARK_COLOR_DARKER,
	),
);

// *** Motion: animations, transitions
$SUPPORT_SMOOTH_SCROLL: true !default;

$SIMPLE_TRANSITION: 0.15s ease-in-out !default; // without specifying properties
$BOUNCING_TRANSITION: 0.35s cubic-bezier(0.59, -0.39, 0.36, 1.38) !default; // without specifying properties

$ALERT_REMOVE_ANIMATION: flatify-alert-will-be-removed 350ms ease !default;
$MODAL_SHOW_ANIMATION_DURATION: 350ms !default;
$MODAL_REMOVE_ANIMATION_DURATION: 200ms !default;

// *** Typography: font size, font family, line height
$MAX_FONT_SIZE: 16 !default; // must be without unit
$MIN_FONT_SIZE: 14 !default; // must be without unit
$PRIMARY_FONT_FAMILY: "Nunito", sans-serif;
$HEADING_FONT_FAMILY: $PRIMARY_FONT_FAMILY !default;
$CODE_FONT_FAMILY: "Fira Code", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// This list will be converted to helper classes.
// .size-[] | .text-[]
$FONT_SIZE_LIST: (
	xs: 0.75em,
	sm: 0.9em,
	md: 1em,
	lg: 1.25em,
	2x: 1.5em,
	3x: 2.2em,
	4x: 2.5em,
	5x: 3.14em,
) !default;

$BASE_LINE_HEIGHT: 1.5 !default;
$SMALL_LINE_HEIGHT: 1.2 !default;
$LARGE_LINE_HEIGHT: 1.8 !default;

$MEDIUM_FONT_WEIGHT: 600 !default;
$BOLD_FONT_WEIGHT: 700 !default;
$EXTRA_BOLD_FONT_WEIGHT: 900 !default;

$BODY_TEXT_ALIGN: initial !default;

$HEADING_MARGIN_BOTTOM: 0.5em !default;
$HEADING_FONT_STYLE: normal !default;
$HEADING_FONT_WEIGHT: bold !default;

$PARAGRAPH_MARGIN_BOTTOM: 2em !default;

// ICONS
$BLOCKQUOTE_ICON: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 100 125"> <path d="M24.503 12.412C13.732 12.412 5 21.144 5 31.916c0 10.771 8.732 19.502 19.503 19.502.232 0 6.279-.034 6.279-.034-.153 10.869-7.646 19.99-17.738 22.613a55.73 55.73 0 01-2.123.473A6.572 6.572 0 005 81.008c0 3.288 2.422 6.003 5.574 6.485.033.006.066.008.099.016.151.02.304.035.458.045.074.004.145.021.22.021 0 0 .789.025 1.05.004 1.165-.098 1.529-.246 2.281-.404 16.618-3.49 29.156-18.187 29.315-35.791h.01V31.829l-.005.004c-.045-10.733-8.755-19.421-19.499-19.421zM94.995 31.833c-.045-10.732-8.756-19.42-19.499-19.42-10.771 0-19.503 8.732-19.503 19.503s8.732 19.502 19.503 19.502c.231 0 6.278-.034 6.278-.034-.152 10.869-7.646 19.99-17.737 22.613-.68.176-2.103.471-2.123.473a6.572 6.572 0 00-5.921 6.538c0 3.288 2.422 6.003 5.574 6.485.032.006.065.008.099.016.15.02.303.035.457.045.074.004.145.021.221.021 0 0 .788.025 1.049.004 1.166-.098 1.53-.246 2.282-.404 16.618-3.49 29.156-18.187 29.315-35.791H95V31.829l-.005.004z"></path></svg>') !default;
$CLOSE_ICON: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 16 16"><path d="M3.3 12.7c.2.2.4.3.7.3s.5-.1.7-.3L8 9.4l3.3 3.3c.2.2.5.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4L9.4 8l3.3-3.3c.4-.4.4-1 0-1.4s-1-.4-1.4 0L8 6.6 4.7 3.3c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4L6.6 8l-3.3 3.3c-.4.4-.4 1 0 1.4z"></path></svg>') !default;
$EYE_ICON: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 24 24"><path d="M12,4c-4.326,0-8.227,3.005-9.938,7.654c-0.082,0.224-0.082,0.468,0,0.691C3.773,16.995,7.674,20,12,20  s8.227-3.005,9.938-7.654c0.082-0.224,0.082-0.468,0-0.691C20.227,7.005,16.326,4,12,4z M12,18c-3.374,0-6.451-2.343-7.928-6  C5.549,8.343,8.626,6,12,6s6.451,2.343,7.928,6C18.451,15.657,15.374,18,12,18z"/><path d="M12,8c-2.206,0-4,1.794-4,4s1.794,4,4,4s4-1.794,4-4S14.206,8,12,8z M12,14c-1.103,0-2-0.897-2-2s0.897-2,2-2s2,0.897,2,2  S13.103,14,12,14z"/></svg>') !default;
$SELECT_ICON: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="%23CED3D6" viewBox="0 -16 32 64"><path d="M23.805 17.56H8.2a.78.78 0 00-.552 1.332l7.803 7.802a.778.778 0 001.103 0l7.802-7.802a.78.78 0 00-.551-1.332zM8.2 14.44H23.82a.78.78 0 00.452-1.417l-7.718-7.717a.78.78 0 00-1.103 0l-7.803 7.802A.78.78 0 008.2 14.44z"></path></svg>') !default;
