// *** General
// add a prefix before CSS variables to prevent unwanted conflicts.
$CSS_VAR_PFX: flatify__ !default;
$SUPPORT_LTR: true !default;
$SUPPORT_SMOOTH_SCROLL: true !default;
$TAP_HIGHLIGHT_COLOR: transparent !default;

// *** Colors: accent color, background color, text color, palette
$BG_COLOR: #ffffff !default;
$BG_COLOR_2: #f1f4f7 !default;
$BG_COLOR_3: #e7ebee !default;

$TXT_COLOR: #485a69 !default;
$TXT_COLOR_LIGHT: tint($TXT_COLOR, 35%) !default;
$TXT_COLOR_DARK: shade($TXT_COLOR, 75%) !default;
$TXT_COLOR_INVERTED: $BG_COLOR_2 !default;

$BLUE: #1cb0f6 !default;
$BLUE_LIGHT: tint($BLUE, 35%) !default;
$BLUE_DARK: shade($BLUE, 20%) !default;

$GREEN: #58cc02 !default;
$GREEN_LIGHT: tint($GREEN, 35%) !default;
$GREEN_DARK: shade($GREEN, 20%) !default;

$YELLOW: #ffde00 !default;
$YELLOW_LIGHT: tint($YELLOW, 35%) !default;
$YELLOW_DARK: shade($YELLOW, 20%) !default;

$ORANGE: #ff9600 !default;
$ORANGE_LIGHT: tint($ORANGE, 35%) !default;
$ORANGE_DARK: shade($ORANGE, 20%) !default;

$RED: #ff4b4b !default;
$RED_LIGHT: tint($RED, 35%) !default;
$RED_DARK: shade($RED, 20%) !default;

$PURPLE: #ce82ff !default;
$PURPLE_LIGHT: tint($PURPLE, 35%) !default;
$PURPLE_DARK: shade($PURPLE, 20%) !default;

$ACCENT_COLOR: $BLUE !default;
$HEADING_COLOR: currentColor !default;

// *** Typography: font size, font family, line height
$BASE_FONT_SIZE: 16px !default;

$PRIMARY_FONT_FAMILY: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
	"Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$HEADING_FONT_FAMILY: $PRIMARY_FONT_FAMILY !default;
$CODE_FONT_FAMILY: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$BASE_LINE_HEIGHT: 1.5 !default;
$SMALL_LINE_HEIGHT: 1.2 !default;
$LARGE_LINE_HEIGHT: 1.8 !default;

$MEDIUM_FONT_WEIGHT: 500 !default;
$BOLD_FONT_WEIGHT: 700 !default;

$BODY_TEXT_ALIGN: initial !default;

$HEADING_MARGIN_BOTTOM: 0.5em !default;
$HEADING_FONT_STYLE: normal !default;
$HEADING_FONT_WEIGHT: bold !default;

$PARAGRAPH_MARGIN_BOTTOM: 2em !default;
