// *** Colors
// .style-[color] is a bg and color setter that can be practical for table items and other elements.

@each $name, $colors in $PALETTE {
	.style-#{$name + ""} {
		color: var(--#{$CSS_VAR_PFX}bg-color) !important;
		background: var(--#{$CSS_VAR_PFX + "color-" + $name + "-" + "primary"}) !important;
		border-color: var(--#{$CSS_VAR_PFX + "color-" + $name + "-" + "dark"}) !important;
	}
}

.style-yellow,
.style-light {
	color: var(--#{$CSS_VAR_PFX}txt-color);
}

// *** Flex box
// Center align children with flex
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-center-x {
	display: flex;
	justify-content: center;
}

.flex-center-y {
	display: flex;
	align-items: center;
}

.flex-column-center-x {
	display: flex;
	align-items: center;
}

.flex-column-center-y {
	display: flex;
	justify-content: center;
}

// *** Typography
// though justify is not a good practice for text align, but with it hyphens becomes better.
.text-filled {
	hyphens: auto;
	text-align: justify;
}

.text-centered {
	text-align: center;
}
