:root {
	--#{$CSS_VAR_PFX}blockquote-accent-color: var(--#{$CSS_VAR_PFX}color-accent-primary);
}

blockquote {
	position: relative;
	z-index: 0;
	overflow: hidden;
	line-height: var(--#{$CSS_VAR_PFX}large-line-height);
	margin: 0 0 var(--#{$CSS_VAR_PFX}paragraph-mb);
	border-radius: 0.5em;
	border-style: solid;
	border-color: var(--#{$CSS_VAR_PFX}blockquote-accent-color);

	@if $SUPPORT_LTR {
		border-width: 0 0 0 0.5em;
	} @else {
		border-width: 0 0.5em 0 0;
	}

	&:not(.large) {
		font-size: 1em;
		line-height: var(--#{$CSS_VAR_PFX}large-line-height);
		padding: 0.75em 1.25em;

		@if $SUPPORT_LTR {
			border-radius: 0.5em 1em 1em 0.5em;
		} @else {
			border-radius: 1em 0.5em 0.5em 1em;
		}

		&:before {
			// blockquote icon
			top: 1em;
			width: 4em;
			height: 4em;

			@if $SUPPORT_LTR {
				left: 1em;
			} @else {
				right: 1em;
			}
		}
	}

	&.large {
		font-size: 1.25em;
		border-width: 0.5em 0;
		padding: 1.25em 0.75em;

		&:before {
			// blockquote icon
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 7em;
			height: 7em;
			margin: auto;
		}
	}

	&.large:not(.text-align-fill) {
		text-align: center;
	}

	cite {
		display: block;
		font-size: 0.64em;
		font-style: normal;
		letter-spacing: 0.18em;
		text-transform: uppercase;
		padding-top: 1.5em;
		opacity: 0.8;
	}

	&:before {
		content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 100 125"> <path d="M24.503 12.412C13.732 12.412 5 21.144 5 31.916c0 10.771 8.732 19.502 19.503 19.502.232 0 6.279-.034 6.279-.034-.153 10.869-7.646 19.99-17.738 22.613a55.73 55.73 0 01-2.123.473A6.572 6.572 0 005 81.008c0 3.288 2.422 6.003 5.574 6.485.033.006.066.008.099.016.151.02.304.035.458.045.074.004.145.021.22.021 0 0 .789.025 1.05.004 1.165-.098 1.529-.246 2.281-.404 16.618-3.49 29.156-18.187 29.315-35.791h.01V31.829l-.005.004c-.045-10.733-8.755-19.421-19.499-19.421zM94.995 31.833c-.045-10.732-8.756-19.42-19.499-19.42-10.771 0-19.503 8.732-19.503 19.503s8.732 19.502 19.503 19.502c.231 0 6.278-.034 6.278-.034-.152 10.869-7.646 19.99-17.737 22.613-.68.176-2.103.471-2.123.473a6.572 6.572 0 00-5.921 6.538c0 3.288 2.422 6.003 5.574 6.485.032.006.065.008.099.016.15.02.303.035.457.045.074.004.145.021.221.021 0 0 .788.025 1.049.004 1.166-.098 1.53-.246 2.282-.404 16.618-3.49 29.156-18.187 29.315-35.791H95V31.829l-.005.004z"></path> </svg>');
		position: absolute;
		z-index: -1;
		opacity: 0.06;
	}
}
