.arrow-button {
	display: flex;
	align-items: center;

	&:after {
		content: " ";
		position: relative;
		z-index: 1;
		display: inline-block;
		width: 1.2em;
		height: 1.2em;
		background-color: currentColor;
		mask: var(--#{$CSS_VAR_PFX}arrow-down-icon) no-repeat 50% 50%;
		-webkit-mask: var(--#{$CSS_VAR_PFX}arrow-down-icon) no-repeat 50% 50%;
		will-change: transform;
		transition: all var(--#{$CSS_VAR_PFX}simple-transition);
	}

	&.arrow-flip:after {
		transform: rotateX(180deg);
	}

	&.arrow-top {
		&:after {
			transform: rotateX(180deg);
		}

		&.arrow-flip:after {
			transform: rotateX(0);
		}
	}

	&.arrow-left {
		&:after {
			transform: rotateY(90deg);
		}

		&.arrow-flip:after {
			transform: rotateY(-90deg);
		}
	}

	&.arrow-right {
		&:after {
			transform: rotateY(-90deg);
		}

		&.arrow-flip:after {
			transform: rotateY(90deg);
		}
	}
}
