.badge {
	display: inline-block;
	min-width: 1.35em;
	min-height: 1.35em;
	padding: 0.35em 0.65em;
	font-size: 0.64em;
	font-weight: var(--#{$CSS_VAR_PFX}medium-font-weight);
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: calc(var(--#{$CSS_VAR_PFX}border-radius) * 0.25);
}
