:root {
	--#{$CSS_VAR_PFX}button-bg-color: var(--#{$CSS_VAR_PFX}bg-color-dark);
	--#{$CSS_VAR_PFX}button-bg-color__focus: var(--#{$CSS_VAR_PFX}bg-color-darker);
	--#{$CSS_VAR_PFX}button-text-color: var(--#{$CSS_VAR_PFX}txt-color);
	--#{$CSS_VAR_PFX}button-text-color__focus: var(--#{$CSS_VAR_PFX}txt-color);
}

input[type="reset"]:not(.default),
input[type="submit"]:not(.default),
input[type="button"]:not(.default),
*[role="button"]:not(.default),
button:not(.default),
.button {
	vertical-align: middle;
	text-align: center;
	font-size: 1em;
	font-weight: normal;
	line-height: 1;
	display: inline-block;
	padding: 1em 1.4em;
	margin: 0.25em 0.125em;
	color: var(--#{$CSS_VAR_PFX}button-text-color);
	background: var(--#{$CSS_VAR_PFX}button-bg-color);
	border: none;
	border-radius: var(--#{$CSS_VAR_PFX}border-radius);
	box-shadow: inset 0 -0.32em 0 var(--#{$CSS_VAR_PFX}button-bg-color__focus);
	will-change: transform;
	transition: all var(--#{$CSS_VAR_PFX}simple-transition);

	&[class*="style-"] {
		--#{$CSS_VAR_PFX}button-bg-color: var(--#{$CSS_VAR_PFX}local-bg-color);
		--#{$CSS_VAR_PFX}button-bg-color__focus: var(--#{$CSS_VAR_PFX}local-border-color);
	}

	&.outline,
	&.bordered {
		box-shadow: inset 0 -0.32em 0 var(--#{$CSS_VAR_PFX}button-bg-color__focus),
			inset 0 0 0 0.125em var(--#{$CSS_VAR_PFX}button-bg-color__focus);
	}

	&.outline:not(:active) {
		color: var(--#{$CSS_VAR_PFX}button-bg-color__focus) !important;
		background: transparent !important;
	}

	&:hover:not(:active) {
		filter: brightness(92%);
	}

	&:active {
		color: var(--#{$CSS_VAR_PFX}button-text-color__focus);
		background: var(--#{$CSS_VAR_PFX}button-bg-color__focus) !important;
		box-shadow: inset 0 0 0 var(--#{$CSS_VAR_PFX}button-bg-color__focus);
		transform: translateY(0.15em);

		&:not(.outline) {
			transition: all 0s !important;
		}
	}

	&:focus-visible {
		// keep pressed just for keyboard user.
		box-shadow: inset 0 0 0 var(--#{$CSS_VAR_PFX}button-bg-color__focus);
		transform: translateY(0.15em);
	}

	&.disabled,
	&:disabled {
		pointer-events: none;
		background: var(--#{$CSS_VAR_PFX}button-bg-color__focus) !important;
		transform: none !important;
		filter: contrast(85%) brightness(85%) !important;
	}
}
