:root {
	--#{$CSS_VAR_PFX}button-bg-color: var(--#{$CSS_VAR_PFX}bg-color-dark);
	--#{$CSS_VAR_PFX}button-bg-color__focus: var(--#{$CSS_VAR_PFX}bg-color-darker);
	--#{$CSS_VAR_PFX}button-txt-color: var(--#{$CSS_VAR_PFX}txt-color);
	--#{$CSS_VAR_PFX}button-txt-color__focus: var(--#{$CSS_VAR_PFX}txt-color);
}

// *** Just limit button style to class it, reduce the complexity and code will be cleaner.
// input[type="reset"]:not(.default),
// input[type="submit"]:not(.default),
// input[type="button"]:not(.default),
// *[role="button"]:not(.default),
// button:not(.default),
.button {
	vertical-align: middle;
	text-align: center;
	font-size: 1em;
	font-weight: normal;
	display: inline-block;
	padding: 0.75em 0.85em 0.55em;
	margin: 0.32em 0.32em 0.5em;
	color: var(--#{$CSS_VAR_PFX}button-txt-color);
	background: var(--#{$CSS_VAR_PFX}button-bg-color);
	border: none;
	border-radius: var(--#{$CSS_VAR_PFX}border-radius);
	box-shadow: 0 0.32em 0 var(--#{$CSS_VAR_PFX}button-bg-color__focus);
	outline: none;
	// filter affect box-shadow width, so it should be set as default to prevent bugs on hover
	filter: brightness(100%);
	will-change: transform;
	transition: filter var(--#{$CSS_VAR_PFX}simple-transition);

	&:hover {
		filter: brightness(92%);
	}

	&.active,
	&:focus-visible,
	&:active {
		box-shadow: inset 0 0 0 var(--#{$CSS_VAR_PFX}button-bg-color__focus);
		transform: translateY(0.32em);
		filter: brightness(92%);
	}

	&.outline {
		color: var(--#{$CSS_VAR_PFX}button-txt-color) !important;
		background: transparent !important;
	}

	&.outline,
	&.bordered {
		box-shadow: 0 0.32em 0 var(--#{$CSS_VAR_PFX}button-bg-color__focus),
			inset 0 0.125em 0 var(--#{$CSS_VAR_PFX}button-bg-color__focus),
			inset 0.125em 0 0 var(--#{$CSS_VAR_PFX}button-bg-color__focus),
			inset -0.125em 0 0 var(--#{$CSS_VAR_PFX}button-bg-color__focus);
	}

	&.outline,
	&.bordered {
		&.active,
		&:focus-visible,
		&:active {
			box-shadow: inset 0 0 0 0.125em var(--#{$CSS_VAR_PFX}button-bg-color__focus);
		}
	}

	&[class*="style-"] {
		--#{$CSS_VAR_PFX}button-bg-color: var(--#{$CSS_VAR_PFX}local-bg-color);
		--#{$CSS_VAR_PFX}button-bg-color__focus: var(--#{$CSS_VAR_PFX}local-border-color);
		--#{$CSS_VAR_PFX}button-txt-color: var(--#{$CSS_VAR_PFX}local-txt-color);
		--#{$CSS_VAR_PFX}button-txt-color__focus: var(--#{$CSS_VAR_PFX}local-txt-color);

		&.outline:not(.style-light-light) {
			// outline button
			--#{$CSS_VAR_PFX}button-bg-color__focus: var(--#{$CSS_VAR_PFX}local-bg-color);
		}
	}

	&.disabled,
	&:disabled {
		pointer-events: none;
		background: var(--#{$CSS_VAR_PFX}button-bg-color__focus) !important;
		box-shadow: inset 0 0 0 var(--#{$CSS_VAR_PFX}button-bg-color__focus);
		transform: translateY(0.32em);
		filter: contrast(85%) brightness(85%) opacity(70%) !important;
	}
}
