:root {
	--#{$CSS_VAR_PFX}card-txt-color: var(--#{$CSS_VAR_PFX}txt-color);
	--#{$CSS_VAR_PFX}card-bg-color: var(--#{$CSS_VAR_PFX}bg-color);
	--#{$CSS_VAR_PFX}card-border-color: var(--#{$CSS_VAR_PFX}bg-color-darker);
}

.card {
	--#{$CSS_VAR_PFX}local-txt-color: var(--#{$CSS_VAR_PFX}card-txt-color);
	--#{$CSS_VAR_PFX}local-bg-color: var(--#{$CSS_VAR_PFX}card-bg-color);
	--#{$CSS_VAR_PFX}local-border-color: var(--#{$CSS_VAR_PFX}card-border-color);
	display: flex;
    width: 20em;
	padding: 0.75em;
	color: var(--#{$CSS_VAR_PFX}local-txt-color);
	background: var(--#{$CSS_VAR_PFX}local-bg-color);
	border: var(--#{$CSS_VAR_PFX}border-width) solid var(--#{$CSS_VAR_PFX}local-border-color);
	border-radius: var(--#{$CSS_VAR_PFX}border-radius);

	&:not(.horizontal) {
		flex-direction: column;
	}

	&.horizontal {
	}

	.card-header {
		font-size: 1.2em;
	}

	.card-body {
		flex-grow: 1;
        filter: opacity(0.75);
	}

	.card-footer {
		font-size: 0.9em;
	}

	.card-image {
		width: 100%;
		height: 10em;
		object-fit: cover;
		border-radius: calc(var(--#{$CSS_VAR_PFX}border-radius) * 0.6);
	}

    .card-title{
        font-size: 1.2em;
        margin: 0.75em 0 0.38em;
    }
}
