:root {
	--#{$CSS_VAR_PFX}modal-backdrop-color: var(--#{$CSS_VAR_PFX}txt-color);
	--#{$CSS_VAR_PFX}modal-bg-color: var(--#{$CSS_VAR_PFX}bg-color);
	--#{$CSS_VAR_PFX}modal-txt-color: var(--#{$CSS_VAR_PFX}txt-color);
	--#{$CSS_VAR_PFX}modal-border-color: var(--#{$CSS_VAR_PFX}bg-color-darker);
}

$modal-border: var(--#{$CSS_VAR_PFX}border-width) solid
	var(--#{$CSS_VAR_PFX}local-border-color, --#{$CSS_VAR_PFX}local-border-color);

.modal {
	--#{$CSS_VAR_PFX}local-border-color: var(--#{$CSS_VAR_PFX}modal-border-color);
	// Basically there is no need for scrolling, if there is it should be the [.modal-body] not the modal itself.
	overflow: hidden;
	position: fixed;
	z-index: $ZINDEX_MODAL;
	top: 5em;
	left: 0;
	right: 0;
	display: none;
	width: 90%;
	height: fit-content;
	max-width: 32em; // 512px
	margin: 0 auto;
	color: var(--#{$CSS_VAR_PFX}modal-txt-color);
	background: var(--#{$CSS_VAR_PFX}modal-bg-color);
	border-radius: var(--#{$CSS_VAR_PFX}border-radius);

	&.modal-sm {
		font-size: 0.9em;
		max-width: 20em;
	}

	&.modal-lg {
		font-size: 1.2em;
		max-width: 45em;
	}

	&.show {
		display: block;
		animation: flatify-blow-in var(--#{$CSS_VAR_PFX}modal-show-animation-duration)
			cubic-bezier(0.52, 0.42, 0.44, 1.44);
	}

	&.modal-will-be-removed {
		animation: flatify-blow-out var(--#{$CSS_VAR_PFX}modal-hide-animation-duration)
			cubic-bezier(0.52, 0.42, 0.44, 1.44) both;
	}

	&.modal-center {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	&.modal-top {
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		border-radius: 0 0 var(--#{$CSS_VAR_PFX}border-radius) var(--#{$CSS_VAR_PFX}border-radius);
		border-top: none !important;

		&.show {
			animation: flatify-slide-down-in var(--#{$CSS_VAR_PFX}modal-show-animation-duration) ease;
		}

		&.modal-will-be-removed {
			animation: flatify-slide-down-out var(--#{$CSS_VAR_PFX}modal-hide-animation-duration) ease both;
		}
	}
	&.modal-bottom {
		top: unset;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		border-radius: var(--#{$CSS_VAR_PFX}border-radius) var(--#{$CSS_VAR_PFX}border-radius) 0 0;
		border-bottom: none !important;

		&.show {
			animation: flatify-slide-up-in var(--#{$CSS_VAR_PFX}modal-show-animation-duration) ease;
		}

		&.modal-will-be-removed {
			animation: flatify-slide-up-out var(--#{$CSS_VAR_PFX}modal-hide-animation-duration) ease both;
		}
	}
	&.modal-left {
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto 0;
		border-radius: 0 var(--#{$CSS_VAR_PFX}border-radius) var(--#{$CSS_VAR_PFX}border-radius) 0;
		border-left: none !important;

		&.show {
			animation: flatify-slide-right-in var(--#{$CSS_VAR_PFX}modal-show-animation-duration) ease;
		}

		&.modal-will-be-removed {
			animation: flatify-slide-right-out var(--#{$CSS_VAR_PFX}modal-hide-animation-duration) ease both;
		}
	}
	&.modal-right {
		left: unset;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto 0;
		border-radius: var(--#{$CSS_VAR_PFX}border-radius) 0 0 var(--#{$CSS_VAR_PFX}border-radius);
		border-right: none !important;

		&.show {
			animation: flatify-slide-left-in var(--#{$CSS_VAR_PFX}modal-show-animation-duration) ease;
		}

		&.modal-will-be-removed {
			animation: flatify-slide-left-out var(--#{$CSS_VAR_PFX}modal-hide-animation-duration) ease both;
		}
	}

	&.bordered {
		border: $modal-border;

		.modal-header {
			border-bottom: $modal-border;
		}
		.modal-footer {
			border-top: $modal-border;
		}
	}

	// Do not limit width when width setter class is added.
	&[class*="width-"] {
		max-width: unset;
	}
}

.modal-content {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.75em 1.25em;

	.modal-title {
		font-size: 1.4em;
		font-weight: var(--#{$CSS_VAR_PFX}medium-font-weight);
		margin-bottom: 0;
	}
}

.modal-body {
	flex-grow: 1; // fill the space when height is 100%
	padding: 1.25em;
}

.modal-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5em 1.25em;
}
