:root {
	--#{$CSS_VAR_PFX}progress-bg-color: var(--#{$CSS_VAR_PFX}bg-color-darker);
	--#{$CSS_VAR_PFX}progress-txt-color: var(--#{$CSS_VAR_PFX}bg-color-darker);
	--#{$CSS_VAR_PFX}progress-border-color: var(--#{$CSS_VAR_PFX}bg-color-darker);
	--#{$CSS_VAR_PFX}progress-animation-duration: 3s;
}

.progress {
	overflow: hidden;
	display: block;
	width: 100%;
	margin: 0.5em 0;
	color: var(--#{$CSS_VAR_PFX}progress-txt-color);
	background: var(--#{$CSS_VAR_PFX}progress-bg-color);
	border: var(--#{$CSS_VAR_PFX}border-width) solid var(--#{$CSS_VAR_PFX}progress-border-color);
	border-radius: calc(var(--#{$CSS_VAR_PFX}border-radius) * 0.75);

	.progress-bar {
		overflow: hidden;
		position: relative;
		font-size: 0.9em;
		min-height: 0.75em;
		padding: 0.125em 0.5em;
		color: inherit;
		background: var(--#{$CSS_VAR_PFX}color-accent-primary);
		border-radius: calc(var(--#{$CSS_VAR_PFX}border-radius) * 0.6);
	}

	&.processing {
		.progress-bar {
			&:before {
				content: " ";
				position: absolute;
				top: 0;
				@if $IS_LTR {
					left: 0;
					transform-origin: left;
				} @else {
					right: 0;
					transform-origin: right;
				}

				width: 100%;
				// 110% because of FireFox bug
				height: 110%;
				background: var(--#{$CSS_VAR_PFX}color-accent-light);
				mix-blend-mode: color-dodge;
				animation: flatify-processing linear var(--#{$CSS_VAR_PFX}progress-animation-duration) infinite;
			}
		}
	}
}
