.search-bar {
	position: relative;

	input[type="text"],
	input[type="search"] {
		width: 100%;

		@if $SUPPORT_LTR {
			padding-right: 3.14em;
		} @else {
			padding-left: 3.14em;
		}

		// on focus background should be lighter.
		&.style-light:focus {
			background: var(--#{$CSS_VAR_PFX}bg-color) !important;
			filter: none !important;
		}
	}

	.search-button {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto 0;
		color: var(--#{$CSS_VAR_PFX}form-element-txt-color);
		border-radius: calc(var(--#{$CSS_VAR_PFX}border-radius) * 0.75);

		@if $SUPPORT_LTR {
			right: 0.5em;
		} @else {
			left: 0.5em;
		}
	}
}
