.form-label {
	margin-top: 0.9em;

	&.inline:not(:first-child) {
		@if $SUPPORT_LTR {
			margin-left: 0.38em;
		} @else {
			margin-right: 0.38em;
		}
	}

	&:not(.inline) {
		display: block;
		@if $SUPPORT_LTR {
			margin-left: 0.38em;
		} @else {
			margin-right: 0.38em;
		}
	}
}

// [.floating-label] should added to [.input-wrapper]
.floating-label {
	input {
		padding-top: 1.64em !important;

		&:not(:placeholder-shown) + .form-label,
		&:focus + .form-label {
			opacity: 0.5;
			transform: scale(0.75) translateY(-0.9em);
		}

		&::placeholder {
			opacity: 0 !important;
		}
	}

	.form-label {
		pointer-events: none;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto 0;
		height: fit-content;
		opacity: 0.8;
		will-change: opacity, transform;
		transition: all var(--#{$CSS_VAR_PFX}bouncing-transition);

		@if $SUPPORT_LTR {
			transform-origin: top left;
			left: 1em;
		} @else {
			transform-origin: top right;
			right: 1em;
		}
	}
}
