// A simple fade out animation,
// it is a great choice for reduced-motion situations in [a11y.scss]
@keyframes flatify-fade-out {
	to {
		opacity: 0;
	}
}

// Default animation before removing elements,
// It can be customized both with [_config.scss] and [--flatify__remove-animation-duration] CSS var.

@keyframes flatify-alert-will-be-removed {
	85% {
		opacity: 0;
	}
	100% {
		opacity: 0;

		@if $SUPPORT_LTR {
			transform-origin: top right;
			transform: scale(0.92) rotate(-0.5deg);
		} @else {
			transform-origin: top left;
			transform: scale(0.92) rotate(0.5deg);
		}
	}
}

.alert-will-be-removed {
	animation: var(--#{$CSS_VAR_PFX}alert-remove-animation) both;
}

// Pulse animation for .pulse
@keyframes flatify-pulse {
	0% {
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.75);
	}
}
