// Default animation before removing elements,
// It can be customized both with [_config.scss] and [--flatify__remove-animation-duration] CSS var.
@keyframes alert-will-be-removed {
	85% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		@if $SUPPORT_LTR {
			transform-origin: top right;
			transform: scale(0.92) rotate(-0.5deg);
		} @else {
			transform-origin: top left;
			transform: scale(0.92) rotate(0.5deg);
		}
	}
}

.alert-will-be-removed {
	animation: var(--#{$CSS_VAR_PFX}alert-remove-animation) both;
}
