@use "sass:math";

// List of opacity helper classes
@each $value in $OPACITY_LIST {
	// e.g. [.opacity-10]
	.opacity-#{$value} {
		opacity: math.div($value, 100);
	}
}

// List of border-radius helper classes
@each $type, $value in $BORDER_RADIUS_LIST {
	.edge-#{$type} {
		border-radius: #{$value} !important;
	}
}

// List of width helper classes
@each $type, $value in $WIDTH_LIST {
	.width-#{$type} {
		width: #{$value} !important;
	}
}

// List of height helper classes
@each $type, $value in $HEIGHT_LIST {
	.height-#{$type} {
		height: #{$value} !important;
	}
}

// overlay layer that hide content
// class should be added to the wrapper, and wrapper should have [--flatify__local-bg-color] set.
.overlay-layer {
	&:before {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		background: var(--#{$CSS_VAR_PFX}local-bg-color);
		border-radius: inherit;
	}
}
