@use "sass:math";

// List of opacity helper classes
@each $value in $OPACITY_LIST {
	// e.g. [.opacity-10]
	.opacity-#{$value} {
		opacity: math.div($value, 100);
	}
}

// List of border-radius helper classes
@each $type, $value in $BORDER_RADIUS_LIST {
	.edge-#{$type} {
		border-radius: calc(var(--#{$CSS_VAR_PFX}border-radius) * #{$value}) !important;
	}
}
// sharp and circle should not be affected by primary border-radius
.edge-sharp {
	border-radius: 0 !important;
}
.edge-circle {
	// In this case, 50% just ruins the circle.
	border-radius: 50em !important;
}
.edge-oval {
	border-radius: 50% !important;
}
